.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient( rgb(139, 230, 233), #c4a8a4);
}


.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 5px;
}
